/* Horizontal Line */
hr {
    border-color: #eaeaea;
    border-style: solid none none;
    border-width: 1px 0 0;
    height: 0;
    margin: 0 0 40px;
}

/* Text elements */
p {
    margin-bottom: 15px;
}
strong {
    font-weight: bold;
}
cite, em, i {
    font-style: italic;
}
pre {
    background-color: #fff;
    margin-bottom: 20px;
    overflow: auto;
    padding: 20px;
}
pre, code, kbd {
    font-family:"Courier 10 Pitch",Courier,monospace;
    font-size: 14px;
    line-height: 19px;
    background-color: #F9F9F9;
}
abbr, acronym, dfn {
    border-bottom: 1px dotted #666;
    cursor: help;
}
address {
    display: block;
    margin: 0 0 1.625em;
}
ins {
    background: #fff9c0;
}

/* Superscript and Subscript */
sup, sub {
    font-size: 10px;
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}

/* Blockquote */
blockquote {
    font-style: italic;
    font-weight: normal;
    padding: 20px;
    border-left: 4px solid #05a9c5;
    margin-bottom: 20px;
    background-color: #F9F9F9;
}
blockquote p {
    margin: 0;
}
blockquote em, blockquote i, blockquote cite {
    font-style: normal;
}
blockquote cite {
    color: #666;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/* Breadcrumb */
.breadcrumb {
    float: right;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}
.breadcrumb a {
    color: #999;
}
.breadcrumb,
.breadcrumb a:hover {
    color: #666;
}

a {
    text-decoration: none;
}